
[data-novi-id="100"]{
  font-size: 25px;
}
[data-novi-id="99"]{
  font-size: 25px;
  font-weight: 400;
}
[data-novi-id="98"]{
  font-weight: 700;
}
[data-novi-id="97"]{
  font-weight: 700;
}
[data-novi-id="96"]{
  font-size: 12px;
}
[data-novi-id="95"]{
  font-size: 25px;
  font-weight: 700;
}
[data-novi-id="94"]{
  font-weight: 400;
  font-size: 20px;
}
[data-novi-id="93"]{
  font-weight: 400;
  font-size: 20px;
}
[data-novi-id="92"]{
  font-weight: 700;
  font-size: 16px;
}
[data-novi-id="91"]{
  font-size: 16px;
  font-weight: 700;
}
[data-novi-id="90"]{
  font-weight: 700;
  font-size: 16px;
}
[data-novi-id="89"]{
  font-size: 16px;
  font-weight: 700;
}
[data-novi-id="88"]{
  line-height: 45px;
}
[data-novi-id="59"]{
  line-height: 50.0003px;
  font-size: 60px;
}
[data-novi-id="59"]{
  letter-spacing: 0px;
  line-height: 72.0003px;
  font-size: 20px;
  text-transform: capitalize;
}
[data-novi-id="59"]{
  
  line-height: 50.0003px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  
}
[data-novi-id="59"]{
  color: #FFF;
  
  
  
  
  
  
  
  
  font-weight: 700;
}
[data-novi-id="59"]{
  line-height: 50px;
  
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="58"]{
  font-size: 20px;
  line-height: 30.0003px;
}
[data-novi-id="58"]{
  color: #000;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}
[data-novi-id="58"]{
  line-height: 50.0003px;
  font-size: 20px;
}
[data-novi-id="58"]{
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 55px;
  text-transform: capitalize;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="22"]{
  line-height: 50.0003px;
  font-size: 60px;
}
[data-novi-id="22"]{
  letter-spacing: 0px;
  line-height: 72.0003px;
  font-size: 20px;
  text-transform: capitalize;
}
[data-novi-id="22"]{
  font-size: 65px;
  line-height: 50.0003px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  
}
[data-novi-id="22"]{
  color: #FFF;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  
  
  
}
[data-novi-id="22"]{
  line-height: 45px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="21"]{
  font-size: 20px;
  line-height: 30.0003px;
}
[data-novi-id="21"]{
  color: #000;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}
[data-novi-id="21"]{
  line-height: 50.0003px;
  font-size: 20px;
}
[data-novi-id="21"]{
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  text-transform: capitalize;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="10"]{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 20px;
  text-transform: capitalize;
}
[data-novi-id="10"]{
  line-height: 30.0003px;
  font-size: 20px;
}
[data-novi-id="5"]{
  line-height: 45px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="5"]{
  color: #000;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  
  
  font-weight: 700;
}
[data-novi-id="5"]{
  font-size: 65px;
  line-height: 50.0003px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  
}
[data-novi-id="4"]{
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="4"]{
  line-height: 50.0003px;
  font-size: 20px;
}
[data-novi-id="3"]{
  line-height: 45px;
  font-size: 50px;
  color: #000;
}
[data-novi-id="3"]{
  color: #000;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  
  
  font-weight: 700;
}
[data-novi-id="3"]{
  font-size: 65px;
  line-height: 50.0003px;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  letter-spacing: 2px;
  
}
[data-novi-id="2"]{
  line-height: 50.0003px;
  font-size: 20px;
  line-height: 35px;
}
[data-novi-id="2"]{
  letter-spacing: 0px;
  line-height: 50px;
  font-size: 20px;
  
}
[data-novi-id="0"]{
  font-size: 65px;
  line-height: 60.0003px;
  text-transform: capitalize;
}
[data-novi-id="0"]{
  color: #fff;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 300;
}
[data-novi-id="7"]{
  line-height: 50.0003px;
  font-size: 20px;
}
[data-novi-id="7"]{
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 20px;
  text-transform: capitalize;
}
[data-novi-id="6"]{
  font-size: 65px;
  line-height: 50.0003px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  
  
  
}
[data-novi-id="6"]{
  color: #fff;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  
  
  font-weight: 700;
}
[data-novi-id="5"]{
  letter-spacing: 0px;
  line-height: 72.0003px;
  font-size: 20px;
  text-transform: capitalize;
}
[data-novi-id="4"]{
  color: #000;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 70px;
  
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}
[data-novi-id="87"]{
  font-weight: 300;
  font-size: 65px;
  font-weight: 700;
}
[data-novi-id="86"]{
  font-size: 35px;
  font-weight: 300;
  font-weight: 700;
}
[data-novi-id="85"]{
  font-weight: 400;
  font-size: 30px;
  font-size: 150px;
}
[data-novi-id="84"]{
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
[data-novi-id="16"]{
  
  font-weight: 300;
  font-size: 30px;
  
  font-weight: 700;
}
[data-novi-id="15"]{
  font-size: 29px;
  font-weight: 300;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="87"]{
  line-height: 45px;
  letter-spacing: 0em;
}
[data-novi-id="86"]{
  letter-spacing: 0px;
  line-height: 20px;
}
[data-novi-id="85"]{
  letter-spacing: 0em;
  line-height: 20px;
}
[data-novi-id="84"]{
  letter-spacing: 0px;
  line-height: 20px;
}
[data-novi-id="83"]{
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
[data-novi-id="82"]{
  text-transform: capitalize;
  color: #FFF;
}
[data-novi-id="81"]{
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}
[data-novi-id="80"]{
  letter-spacing: 0em;
  
  
  font-family: 'Montserrat', sans-serif;
  
  text-transform: uppercase;
  font-size: 35px;
}
[data-novi-id="79"]{
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="78"]{
  letter-spacing: 0px;
  font-size: 35px;
  font-weight: 700;
  color: rgb(13, 20, 49);
  line-height: 0px;
}
[data-novi-id="77"]{
  font-weight: 700;
  
  letter-spacing: 0px;
  line-height: 20px;
  text-transform: uppercase;
}
[data-novi-id="76"]{
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  line-height: 0px;
}
[data-novi-id="75"]{
  
  text-transform: capitalize;
  
  letter-spacing: 0em;
  font-size: 65px;
  
  
  color: #000;
}
[data-novi-id="74"]{
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 45px;
  color: #000;
}
[data-novi-id="73"]{
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 45px;
}
[data-novi-id="72"]{
  text-transform: uppercase;
  letter-spacing: 0em;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 45px;
}
[data-novi-id="71"]{
  letter-spacing: 0px;
  font-size: 65px;
  
  
  color: #000;
}
[data-novi-id="70"]{
  font-size: 25px;
  text-transform: uppercase;
}
[data-novi-id="69"]{
  font-weight: 400;
  line-height: 45px;
}
[data-novi-id="68"]{
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  letter-spacing: 1.5px;
  
}
[data-novi-id="67"]{
  color: #fff;
  
  
  letter-spacing: 0px;
  
  line-height: 45px;
}
[data-novi-id="66"]{
  
  text-transform: uppercase;
  
  line-height: 45px;
  letter-spacing: 0px;
}
[data-novi-id="65"]{
  font-weight: 300;
  
  line-height: 45px;
  letter-spacing: 0px;
}
[data-novi-id="64"]{
  
  font-weight: 300;
  line-height: 45px;
}
[data-novi-id="63"]{
  font-weight: 700;
  font-size: 30px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0em;
  text-transform: uppercase;
}
[data-novi-id="62"]{
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  
}
[data-novi-id="61"]{
  
  font-weight: 300;
  
  
  line-height: 45px;
}
[data-novi-id="60"]{
  font-size: 25px;
  font-weight: 300;
  font-weight: 700;
}
[data-novi-id="59"]{
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 400;
}
[data-novi-id="58"]{
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
[data-novi-id="57"]{
  color: #fff;
  line-height: 45px;
}
[data-novi-id="56"]{
  color: #fff;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0em;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
}
[data-novi-id="55"]{
  color: #fff;
  letter-spacing: 0px;
  line-height: 45px;
  
}
[data-novi-id="54"]{
  color: rgba(81, 98, 255, 1);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  line-height: 50px;
}
[data-novi-id="53"]{
  color: #fff;
  line-height: 45px;
}
[data-novi-id="52"]{
  color: #fff;
  font-size: 50px;
  letter-spacing: 0em;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  
}
[data-novi-id="51"]{
  color: #252525;
  font-size: 35px;
  
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  line-height: 45px;
}
[data-novi-id="50"]{
  color: #252525;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0em;
  
}
[data-novi-id="49"]{
  color: #252525;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 25px;
}
[data-novi-id="48"]{
  color: #252525;
  color: rgba(0, 0, 0, 1);
}
[data-novi-id="47"]{
  color: #252525;
  color: #000;
}
[data-novi-id="46"]{
  color: #FFF;
  line-height: 45px;
}
[data-novi-id="45"]{
  color: #FFF;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  
  letter-spacing: 0px;
  line-height: 50px;
  font-weight: 700;
  
}
[data-novi-id="44"]{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1.5px;
}
[data-novi-id="43"]{
  color: #252525;
  color: #000;
}
[data-novi-id="42"]{
  color: #252525;
  color: #000;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}
[data-novi-id="41"]{
  letter-spacing: 1.5px;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
}
[data-novi-id="40"]{
  letter-spacing: 0em;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 50em;
  font-size: 18px;
  line-height: 50px;
  font-weight: 300;
}
[data-novi-id="39"]{
  text-transform: uppercase;
  letter-spacing: 0px;
  
  
  line-height: 40px;
}
[data-novi-id="38"]{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
}
[data-novi-id="37"]{
  
  
  line-height: 40px;
  
  
  letter-spacing: 1px;
}
[data-novi-id="36"]{
  font-weight: 700;
  font-size: 50px;
  
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  line-height: 60px;
  text-transform: uppercase;
}
[data-novi-id="35"]{
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 2px;
}
[data-novi-id="34"]{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 50px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
[data-novi-id="33"]{
  line-height: 40px;
  text-transform: capitalize;
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 0px;
  font-size: 40px;
  font-weight: 100;
  
}
[data-novi-id="32"]{
  line-height: 25px;
  font-weight: 700;
  font-weight: 100;
}
[data-novi-id="31"]{
  line-height: 45px;
  color: #ffffff;
  
}
[data-novi-id="30"]{
  line-height: 50px;
  color: #000;
  text-transform: uppercase;
  
  letter-spacing: 1.6px;
  
  letter-spacing: 0em;
  color: #000;
  
}
[data-novi-id="29"]{
  line-height: 45px;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
[data-novi-id="28"]{
  line-height: 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 40px;
  letter-spacing: 0px;
}
[data-novi-id="27"]{
  
  
  
  
  
  
  
  line-height: 40px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  letter-spacing: 1.5px;
  
  
  
  
  font-size: 65px;
  text-transform: uppercase;
  
  
  
  font-size: 18px;
  
  
  
  
  
  
  
  font-size: 50px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  color: #000;
  
  
  
  
  
  
  
  color: #000;
  
  
  
  
  
  
  
  font-weight: 700;
  
  
  
  
  
  
  
  font-family: 'Poppins', sans-serif;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
[data-novi-id="26"]{
  
  line-height: 25px;
  text-transform: uppercase;
  
  font-size: 18px;
  
  font-size: 40px;
  
  
}
[data-novi-id="25"]{
  line-height: 40px;
  
  color: rgba(36, 39, 49, 1);
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 40px;
  color: #FFF;
  
}
[data-novi-id="24"]{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-size: 40px;
}
[data-novi-id="23"]{
  line-height: 25px;
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
[data-novi-id="22"]{
  
  
  
  
  
  
  
  letter-spacing: 0px;
  
  
  
  
  font-size: 65px;
  text-transform: uppercase;
  
  
  
  font-size: 25px;
  
  
  
  
  
  
  
  font-size: 18px;
  
  
  
  
  
  
  
  line-height: 25px;
  
  
  
  
  
  
  
  
}
[data-novi-id="21"]{
  
  
  
  
  
  
  
  letter-spacing: 0px;
  
  
  
  
  font-size: 65px;
  line-height: 45px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  font-weight: 700;
  
  
  
  
  
  
  
  text-transform: uppercase;
  
  
  
  
  
  
  
  
  
  
  
  font-weight: 300;
  
  
  
  
  
  
  
  font-weight: 700;
}
[data-novi-id="20"]{
  
  
  
  
  
  
  
  letter-spacing: 0em;
  
  
  
  
  
  
  
  
  
  line-height: px;
  
  
  
  
  
  
  
  font-weight: 400;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  line-height: 45px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  font-family: 'Montserrat', sans-serif;
  
  
  
  
  
  
  
  text-transform: capitalize;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
[data-novi-id="19"]{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  letter-spacing: 0px;
  font-weight: 700;
  line-height: 50px;
}
[data-novi-id="18"]{
  font-weight: 700;
  
  text-transform: uppercase;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="17"]{
  font-weight: 700;
  text-transform: uppercase;
  
  font-size: 25px;
  letter-spacing: 0px;
}
[data-novi-id="16"]{
  
  
  
  
  
  
  
  
  
  
  letter-spacing: 0em;
  
  
  
  line-height: 45px;
  
  
  
  text-transform: uppercase;
  
  
  
  
  
  
  
  
  
  
  font-size: 25px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}
[data-novi-id="15"]{
  letter-spacing: 0em;
  
  text-transform: uppercase;
  
  
  text-transform: capitalize;
  font-weight: 700;
  line-height: 45px;
  font-weight: 100;
  
  font-size: 65px;
  text-align: left!important;
  font-size: 23px;
  
}
[data-novi-id="14"]{
  
  
  
  
  
  
  
  letter-spacing: 0px;
  
  
  
  
  font-size: 65px;
  
  
  
  
  font-size: 25px;
  
  
  
  
  
  
  
  font-size: 65px;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  font-size: 55px;
  
  
  
  
  
  
  
  text-transform: uppercase;
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  text-transform: uppercase;
  
  
  
  
  
  
  
  color: #000;
  
  
  
  
  
  
  
  font-family: 'Montserrat', sans-serif;
  
  
  
  
  
  
  
  font-weight: 700;
  
  
  
  
  
  
  
  
}
[data-novi-id="13"]{
  color: #ffffff;
  color: #FFF;
}
[data-novi-id="12"]{
  color: #ffffff;
  color: #242424;
}
[data-novi-id="11"]{
  color: #ffffff;
  color: #242424;
}
[data-novi-id="10"]{
  color: #000;
}
[data-novi-id="9"]{
  font-size: 45px;
  color: #fff;
}
[data-novi-id="8"]{
  
  font-size: 35px;
  
  color: #fff;
}
[data-novi-id="6"]{
  line-height: 45px;
  font-size: 60px;
}
[data-novi-id="5"]{
  line-height: 50.0003px;
  font-size: 60px;
}
[data-novi-id="4"]{
  font-size: 20px;
  line-height: 30.0003px;
}
[data-novi-id="3"]{
  line-height: 60.0003px;
  font-size: 60px;
  
}
[data-novi-id="2"]{
  color: #fff;
  
  
  font-size: 45px;
  font-size: 45px;
  font-size: 20px;
  
  letter-spacing: 0px;
  
  font-weight: 400;
}
[data-novi-id="1"]{
  letter-spacing: -0.025em;
  font-size: 70px;
  font-size: 45px;
  color: #fff;
}
[data-novi-id="0"]{
  letter-spacing: 1px;
  font-size: 60px;
  color: #FFF;
  
  font-weight: 700;
  
  
}
@media (min-width: 1928px) and (max-width: 319px){
[data-novi-id="44"]{
  
  color: #fff;
  
  color: #fff;
  
  font-size: 40px;
  font-size: 41px;
  font-size: 40px;
}
[data-novi-id="43"]{
  font-size: 40px;
  color: #fff;
  color: #fff;
  font-size: 40px;
  font-size: 39px;
  font-size: 39px;
  font-size: 40px;
}
[data-novi-id="42"]{
  font-size: 40px;
}
[data-novi-id="41"]{
  font-size: 40px;
  color: #FFF;
  font-size: 40px;
  color: #fff;
  font-size: 39px;
}
}
@media (max-width: 479px){
[data-novi-id="84"]{
  font-size: 35px;
}
[data-novi-id="83"]{
  font-size: 30px;
}
[data-novi-id="82"]{
  font-size: 40px;
}
}
